.section1 {
  height: 500px;
  background-color: black;

  &.in-viewport {
    background-color: gray;
  }

}



p {
  padding: 20px;
  color: #fff;

  &.in-viewport {
    background-color: red;
  }
}


